*,
::before,
::after {
  padding: 0;
  margin: 0;

  box-sizing: inherit;
}

:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.gutter-bottom {
  margin-bottom: 1rem;
}

.title-centered {
  margin: .5rem 0 1rem;
  text-align: center;
}

.section {
  margin-bottom: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(131,58,180);
  background: linear-gradient(326deg, rgba(131,58,180,1) 9%, rgba(245,0,104,1) 55%, rgba(252,176,69,1) 89%);
}

.app {
  max-width: 900px;
  background-color: #fff;
}

.main {
  padding: 2rem;
}

.introducing__video-clip {
  display: flex;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us__photo {
  align-self: center;
}

.our-hobbies__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-hobbies__gallery > .img {
  margin: .25rem;
}

.interesting-info__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 1rem;
  background-color: #dedede;
}
